<h1>Add a Movie to <%= @list.name %></h1>

<%= form_with model: [@list, @bookmark], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :movie_id, "Select Movie", class: "form-label" %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title, prompt: "Choose a movie", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class: "form-control" %>
  </div>

  <%= form.submit "Add Movie", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to list", list_path(@list), class: "btn btn-secondary mt-3" %>
